@font-face {
    font-family: "Inter-bold";
    src: url(font/Inter-Bold.otf);
}
@font-face {
    font-family: "Inter-regular";
    src: url(font/Inter-Regular.otf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f2f2f2;
    font-family: "Inter-regular";
}
header {
    padding: 0 90px 40px 90px;
}
.container {
    display: flex;
    padding: 20px 14px;
    justify-content: center;
    align-items: flex-start;
    gap: 22px;
    background-color: #fff;
    border-radius:  0  0 20px  20px;
    box-shadow: 0px 7px 13px -3px rgba(2, 2, 2, 0.2);
}
.logo_img {
    max-width: 300px;
}
label {
   width: auto; 
}
input {
    height: 48px;
    border: 0;
    border-radius: 20px;
    background-color: #e9e9e9;
    padding: 0 20px;
    font-size: 20px;
    width: 100%;
    min-width: 1000px;
}
.btn {
    height: 48px;
    border: 0;
    padding: 10px 40px;
    font-size: 18px;
    border-radius: 20px;
    color: #848484;
    cursor: pointer;
}
section {
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.block1 {
    display: flex;
    gap: 50px;
}
.product {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #fff;
    border-radius: 20px;
    padding: 40px 30px;
    box-shadow: 0px 7px 13px -3px rgba(2, 2, 2, 0.2);
}
.city {
    background-color: #fff;
    box-shadow: 0px 7px 13px -3px rgba(2, 2, 2, 0.2);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 20px;
    border-radius: 20px;
}
.p {
    color: #848484;
}
.group_btn {
    display: flex;
    justify-content: space-between;
}
.yes {
    min-width: 120px;
    min-height: 50px;
    background-color: #A73E81;
    color: #fff;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 18px;
}
.no {
    min-width: 120px;
    min-height: 20px;
    background-color: #E7E7E7;
    color: #4d4d4d;
    border: 0;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
}
h2 {
    color: #A73E81;
    font-family: "Inter-bold";
}
.menu {
    display: flex;
    gap: 20px;
}
.point {
    display: flex;
    gap: 6px;
    align-items: flex-end;
    text-decoration: none;
    color: #2c2c2c;
}
.block2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 20px;
    width: 100%;
    min-width: 1310px;
    box-shadow: 0px 7px 13px -3px rgba(2, 2, 2, 0.2);
}
.cards {
    display: flex;
    gap: 60px;
    overflow: hidden;
}
.img {
    width: 1700px;
}
.cards:hover{
    overflow-x: scroll;
}
.card {
    border-radius: 20px;
    box-shadow: 0px 7px 13px -3px rgba(2, 2, 2, 0.2);
    margin-bottom: 20px;
}
.sale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px 40px;
    border: 1px solid #A73E81;
    border-radius: 20px;
    margin-bottom: 20px;
}
.ord {
    background-color: #A73E81;
    text-transform: uppercase;
    border: 0;
    padding: 6px 10px;
    border-radius: 20px;
    color: #f2f2f2;
    font-family: "Inter-regular";
    cursor: pointer;
}

/* footer */
footer {
    padding: 100px 100px 50px;
    display: flex;
    justify-content: space-between;
}
.menu_f {
    display: flex;
    flex-direction: column;
    gap: 26px;
}
.menu_f2 {
    display: flex;
    flex-direction: column;
    gap: 26px;
    text-align: right;
}
.point_f {
    text-decoration: none;
    color: #2c2c2c;
}
.logo_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
p {
    text-align: center;
    font-weight: 700;
}
/* profile */
.section1 {
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.personal_info{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.photo{
    width: 128px;
    min-height: 128px;
    border-radius: 50%;
    background-color: #A73E81;
}
.text_info h1{
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 300;
}
.orders{
    box-shadow: 0px 7px 13px -3px rgba(2, 2, 2, 0.2);
    border-radius: 20px;
    gap: 20px;
    padding: 36px 20px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.orders h1{
    color: #A73E81;
    font-size: 24px;
    text-transform: uppercase;
}
.order_card_adress{
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 16px 36px;
    color: #444444;
    border-radius: 20px;
    background-color: #e4e4e4;
    border: #A73E81 1px solid;
}
.data_price{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    text-transform: uppercase;
}
.adress{
    font-size: 24px;
    text-transform: uppercase;
}
.arrow_down{
    position: relative;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #444;
    margin: 20px;
}
/* order */
.card_order {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border: 1px solid #A73E81;
    border-radius: 20px;
    padding: 26px 30px;
}
.name {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
}
.group {
    display: flex;
    gap: 40px;
    align-items: center;
}
.btn_order {
  min-width: 82px;
  min-height: 26px;
  font-size: 16px;
  background-color: #A73E81;  
  border: 0;
  border-radius: 20px;
  color: #f2f2f2;
  padding: 6px;
  font-family: "Inter-regular";
  cursor: pointer;
}
.price {
    font-size: 18px;
    font-weight: 800;
    color: #A73E81;
}
.hr {
    height: 1px;
    background-color: #A73E81;
}
.end {
    display: flex;
    justify-content: space-between;
}
.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ls_name {
    display: flex;
    gap: 10px;
}
.all_price {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 16px;
}
.pr_all {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
}
.order_end {
    background-color: #A73E81;
    border: 0;
    min-width: 320px;
    min-height: 40px;
    padding: 6px 10px;
    font-size: 28px;
    color: #f2f2f2;
    border-radius: 20px;
    font-family: "Inter-regular";
    text-transform: uppercase;
}
/* lsit */
.list_prod {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.prod {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}
h1 {
    color: #A73E81;
    text-transform: uppercase;
}